
:root{
    --mainColor: #8B2635;
    --secondColor: #34344A;
    --mainBackgroundColor: #eee;

    --white: #fff;
    --light-red: #CF4F62;

    --logoFont: 'Fraunces', sans-serif;
    --mainFont: 'Red Hat Display', sans-serif;
}