
:root{
    --mainColor: #8B2635;
    --secondColor: #34344A;
    --mainBackgroundColor: #eee;
    --favoriteColor: #CF4F62;

    --white: #fff;
    --darkGray: #DDD;
    --gray: #EFEFEF;
    --black: #111;

    --logoFont: 'Fraunces', sans-serif;
    --mainFont: 'Red Hat Display', sans-serif;
}